nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 1;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    width: 50vw;
}

li {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

li:hover {
    cursor: pointer;
    border-bottom: solid 2px black;
}